*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(27, 27, 27);

}

a{
    text-decoration: none;
    color:#fff;
}

ul li{
    list-style: none;
}