*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(27, 27, 27);

}

a{
    text-decoration: none;
    color:#fff;
}

ul li{
    list-style: none;
}

.logo{
    width: 50px;
    height: 50px;
    background-color: rgb(27, 27, 27);
   
}

.header-bar{
    width: 100%;
    height: 10vh;
    background-color:#ECCF34;
    padding-top: 5px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.header-bar ul li{
    display: inline-block;
    margin: 3px;
    font-weight: bold;
    font-size: 1.5rem;
}

/*Setings Slider*/


.slider-area{
    margin: 0;
}
.carousel{
    width: 100%;
    height: 100%;
    display: block;
    border: red solid 2px;
    
}

.carousel img{
    width: 100%;
    height: 900px;
    margin: 0px;
    
}

.slick-dots{
    border: green solid 1px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 16px 0;
    list-style: none;
    bottom: 40px;
}
.slick-dots li{
    margin: 0 0.25rem;
    background-color: #fff;
    border-radius: 50%;
    
}

.slick-dots button{
display: block;
width: 16px;
height: 16px;
padding: 0;
border: none;
border-radius: 50%;
}
.slick-dots li.slick-active button{
background-color:#ECCF34 ;
}
/*Main*/
.sobre{
    width: 100%;
    height: 1024px;
    background-image: url(../img/img-sobre-obj.png) ;
    background-size: cover;
    margin-top: 0px;
    border: rgb(23, 126, 223) solid 2px;

}

.header-title {
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.text-style{
    color: white;
   
}

.center-text{
    justify-content: center;
    align-items: center;
    display: inline;
}