*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:#fff;
}

ul li{
    list-style: none;
}

.logo{
    width: 50px;
    height: 50px;
    background-color: rgb(27, 27, 27);
   
}

.header-bar{
    width: 100%;
    height: 10vh;
    background-color:#ECCF34;
    padding-top: 5px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.header-bar ul li{
    display: inline-block;
    margin: 3px;
    font-weight: bold;
    font-size: 1.5rem;
}

/*Setings Slider*/
