*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(27, 27, 27);

}

a{
    text-decoration: none;
    color:#fff;
}

ul li{
    list-style: none;
}

.logo{
    width: 50px;
    height: 50px;
    background-color: rgb(27, 27, 27);
   
}

.header-bar{
    width: 100%;
    height: 10vh;
    background-color:#ECCF34;
    padding-top: 5px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.header-bar ul li{
    display: inline-block;
    margin: 3px;
    font-weight: bold;
    font-size: 1.5rem;
}

/*Setings Slider*/
.carousel-item{
    background-size: cover;

}

.container{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    color: white;
}
.container p{
    font-weight:lighter;
}

/*Main*/
.sobre{
    width: 100%;
    height: 1024px;
    background-image: url(../img/img-sobre-obj.png) ;
    background-size: cover;
}

.header-title {
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.text-style{
    color: white;
   
}

.center-text{
    justify-content: center;
    align-items: center;
    display: inline;
}